.nav-link {
    color: #cf896f;

    font-size: 24px;
    font-weight: bold;

    text-decoration: none;

    cursor: pointer;

    transition: 150ms color;

    &.highlighted {
        color: white;

        cursor: default;
    }

    &:hover {
        color: white;
    }
}
