$topMargin: 140px;
$barWidth: 36px;

.main-section-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.title-section {
    display: flex;
    flex-direction: column;

    width: 550px;

    h1 {
        background: var(--clr-gradient-primary);
        background-clip: text;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 80px;
    }

    h2 {
        background: var(--clr-gradient-primary);
        background-clip: text;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 47px;
    }

    p {
        font-size: 21px;
        line-height: 30px;
    }
}

.image-section {
    position: relative;

    width: 510px;
    height: 540px;

    margin-top: $topMargin;

    isolation: isolate;

    box-sizing: border-box;
}

.box-1 {
    position: absolute;

    inset: 0 0 auto auto;

    width: 360px;
    height: 325px;

    background: var(--clr-gradient-primary);

    z-index: 2;
}

.box-2 {
    position: absolute;

    inset: 0 auto auto 0;

    width: $barWidth;
    height: 400px;

    background-color: var(--clr-black-900);

    z-index: 1;
}

.box-3 {
    position: absolute;

    inset: 0 auto auto 0;

    width: 100%;
    height: $barWidth;

    background-color: var(--clr-black-900);

    z-index: 1;
}

.box-4 {
    position: absolute;

    inset: 0 0 auto auto;

    width: $barWidth;
    height: calc(500px + #{$barWidth});

    background-color: var(--clr-primary-500);

    z-index: 1;
}

.box-5 {
    position: absolute;

    inset: 500px 0 0 auto;

    width: 88%;
    height: $barWidth;

    background-color: var(--clr-primary-500);

    z-index: 4;
}

.image {
    position: absolute;

    inset: auto auto 20px 30px;

    width: 400px;
    height: auto;

    z-index: 3;
}
