// Makes the page fill the entire viewport height
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    box-sizing: border-box;
}

.layout-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 800px;
}
