/* 

This file defines all colors used in the site.

It also defines utility classes for text and background colors.

*/

:root {
    --clr-primary-300: hsl(213, 78%, 55%);
    --clr-primary-400: hsl(213, 78%, 50%);
    --clr-primary-500: hsl(213, 78%, 45%);

    --clr-secondary-300: hsl(49, 100%, 60%);
    --clr-secondary-400: hsl(49, 100%, 55%);
    --clr-secondary-500: hsl(49, 100%, 50%);

    --clr-warn-400: hsl(0, 67%, 50%);
    --clr-warn-400: hsl(0, 67%, 45%);
    --clr-warn-400: hsl(0, 67%, 40%);

    --clr-white-100: hsl(0, 0%, 95%);
    --clr-white-200: hsl(0, 0%, 90%);

    --clr-black-800: hsl(0, 0%, 10%);
    --clr-black-900: hsl(0, 0%, 5%);
}

body {
    color: var(--clr-black-900);
    background-color: var(--clr-white-100);
}

// Utility classes
.text-primary {
    color: var(--clr-primary-500);
}
.text-secondary {
    color: var(--clr-secondary-500);
}
.text-warn {
    color: var(--clr-warn-400);
}
.text-white {
    color: var(--clr-white-100);
}

.bg-primary {
    background-color: var(--clr-primary-500);
    color: var(--clr-white-100);
}
.bg-secondary {
    background-color: var(--clr-secondary-500);
    color: var(--clr-black-900);
}
.bg-warn {
    background-color: var(--clr-warn-400);
    color: var(--clr-white-100);
}
.bg-white {
    background-color: var(--clr-white-100);
    color: var(--clr-black-900);
}
.bg-black {
    background-color: var(--clr-black-900);
    color: var(--clr-white-100);
}
